<div layout="row" ng-cloak layout>
    <md-toolbar class="md-theme">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <p class="md-subhead">LOGO</p>
            </md-toolbar-filler>

        <div layout="row" layout-align="center center" flex-offset="85">
            <md-menu-bar>
                <md-menu>
                    <md-button ng-click="$mdMenu.open()">
                        Cadastrar
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button>
                                Funcionario
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                Produto
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

        </div>

        </div>
    </md-toolbar>
</div>
